<a href="https://colab.research.google.com/github/Hannan2454/D.O-lab-exam/blob/main/D_O_lab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pd.read_excel('EVENmm.xlsx')

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5245,BKG03093,CUST4090,BRANDYVILLE,2024-01-23 - 2025-04-15,2024-08-17,3.0,NaN,Bank Transfer,45823.85,"King, Porter and Patrick",Understand man remain tough.
5246,BKG03773,CUST0249,SAINT LUCIA,2023-12-11 - 2025-01-11,2023-04-07,1.0,NaN,NaN,28937.40,Lane-Hopkins,Scientist bank wife. Measure prevent fear imag...
5247,bkg04354,CUST3227,Delhi,2024-06-13 - 2025-04-10,2024-04-15,6.0,Luxury,Bank Transfer,63021.04,Curry-Duke,Space area above score economy happy spring in...
5248,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5249,BKG00861,CUST1529,Turkmenistan,2024-05-11 - 2024-11-06,2024-07-12,3.0,Standard,PayPal,77632.50,"Lewis, Jones and Morgan",NaN

In [ ]:
average_cost_by_destination = df.groupby('Destination')['Total_Cost'].mean()
print(average_cost_by_destination)

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

In [ ]:
payment_distribution = df.groupby('Customer_ID')['Payment_Method'].value_counts().unstack(fill_value=0)
print(payment_distribution)

Payment_Method  Bank Transfer  Credit Card  Debit Card  PayPal
Customer_ID
CUST0004                    1            0           0       0
CUST0006                    1            2           1       0
CUST0016                    0            1           0       0
CUST0020                    0            0           0       1
CUST0023                    0            0           0       1
...                       ...          ...         ...     ...
cust9873                    1            0           0       0
cust9921                    0            1           0       0
cust9933                    0            0           1       0
cust9990                    0            0           1       0
cust9991                    0            1           0       0

[3449 rows x 4 columns]

In [62]:
unique_destinations = df['Destination'].unique()
num_unique_destinations = len(unique_destinations)
print(f"There are {num_unique_destinations} unique destinations in the dataset.")

There are 859 unique destinations in the dataset.

In [61]:
df['Travel_Dates'] = pd.to_datetime(df['Travel_Dates'], utc=True)
df['Trip_Duration'] = (df['Travel_Dates'].max() - df['Travel_Dates']).dt.days

In [60]:
df.head

<bound method NDFrame.head of      Booking_ID Customer_ID   Destination              Travel_Dates  \
0      BKG01438    CUST5663     BANGALORE 2024-05-27 22:25:00+00:00
1      BKG02701    CUST4963       Vietnam                       NaT
2      BKG03648    cust5625         Tokyo 2023-12-03 05:25:00+00:00
3      BKG02513    CUST4246         Delhi 2023-11-11 09:24:00+00:00
4      bkg02903    CUST3901       Chennai 2023-11-10 18:24:00+00:00
...         ...         ...           ...                       ...
5245   BKG03093    CUST4090   BRANDYVILLE 2024-01-24 11:25:00+00:00
5246   BKG03773    CUST0249   SAINT LUCIA 2023-12-12 07:25:00+00:00
5247   bkg04354    CUST3227         Delhi 2024-06-14 06:25:00+00:00
5248        NaN         NaN           NaN                       NaT
5249   BKG00861    CUST1529  Turkmenistan 2024-05-12 02:24:00+00:00

     Booking_Date  Number_of_Travelers Travel_Package Payment_Method  \
0      2023-07-26                  3.0        Premium     Debit Card
1      2024-02-05                  3.0       Standard    Credit Card
2      2024-07-17                  2.0            NaN            NaN
3      2024-03-15                  6.0         Luxury    Credit Card
4      2023-04-09                  3.0         Luxury         PayPal
...           ...                  ...            ...            ...
5245   2024-08-17                  3.0            NaN  Bank Transfer
5246   2023-04-07                  1.0            NaN            NaN
5247   2024-04-15                  6.0         Luxury  Bank Transfer
5248          NaT                  NaN            NaN            NaN
5249   2024-07-12                  3.0       Standard         PayPal

      Total_Cost              Travel_Agent  \
0       41695.84                  Bass Inc
1       36619.85                Wood Group
2       44543.87           Bridges-Collins
3       41053.94     Edwards, Hill and Lee
4       36238.26                 Hardy Inc
...          ...                       ...
5245    45823.85  King, Porter and Patrick
5246    28937.40              Lane-Hopkins
5247    63021.04                Curry-Duke
5248         NaN                       NaN
5249    77632.50   Lewis, Jones and Morgan

                                      Customer_Feedback  \
0     Power matter brother guy. Out adult perhaps ge...
1     Position call within size than couple. Effect ...
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
5245                       Understand man remain tough.
5246  Scientist bank wife. Measure prevent fear imag...
5247  Space area above score economy happy spring in...
5248                                                NaN
5249                                                NaN

                   Start_Date    End_Date               Travel_Start  \
0                  2024-05-27  2025-06-02  2024-05-27 20:25:00-02:00
1     2024/05/02 / 2025/06/28         NaN        2024-05-02 00:00:00
2                  2023-12-02  2025-03-09  2023-12-02 20:25:00-09:00
3                  2023-11-10  2024-09-13  2023-11-10 20:24:00-13:00
4                  2023-11-09  2024-08-22  2023-11-09 20:24:00-22:00
...                       ...         ...                        ...
5245               2024-01-23  2025-04-15  2024-01-23 20:25:00-15:00
5246               2023-12-11  2025-01-11  2023-12-11 20:25:00-11:00
5247               2024-06-13  2025-04-10  2024-06-13 20:25:00-10:00
5248                      NaN         NaN                        NaN
5249               2024-05-11  2024-11-06  2024-05-11 20:24:00-06:00

     Travel_End  Trip_Duration
0           NaT           84.0
1    2025-06-28            NaN
2           NaT          261.0
3           NaT          283.0
4           NaT          284.0
...         ...            ...
5245        NaT          209.0
5246        NaT          252.0
5247        NaT           67.0
5248        NaT            NaN
5249        NaT          100.0

[5250 rows x 16 columns]>